*{
    margin: 0;
    padding:  0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

*body{
    /* display: flex; */
}
.title h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    size: 20px;
}
.sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7rem;
    color: whitesmoke;
    /* overflow: scroll; */
    /* overflow: visible; */
    background: #0199fe;
    transition: all 0.5s linear;
}

.sidemenu :hover{

    transition: 0.5s;
}
.title{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88px;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5 ease-in-out;

}
.menu li:hover{
    background: red;
}
.menu a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}

/***main body section***/
 
.content .header-wrapper{
    padding: 10px 2rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 17.7%;
    width: 82.3%;
    height: 13.7vh;
    /* background: rgb(255, 2, 2); */
    background-color: white;
    color: #0199fe;
    /* display: flex; */
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    padding-bottom: 4%;
    font-size: large;  
}

 
.table table{
    width: 77%;
    margin-left: 20%;
    border-collapse: collapse;
    margin-top: 2%;
}
.table table th{
    background: rgb(110, 196, 246);
    padding: 15px;
    color: white;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
tbody{
    background:rgb(237, 237, 237);
}
.table table td{
    padding: 15px;
    text-align: left;
}
tr:nth-child(even){
    background: white;
   
}
tfoot{
    background: rgb(110, 196, 246);
    font-weight: 200;
    color: white;
}
tfoot td{
    padding: 15px;
}
.content-2 .table .btn{
    color: red;
    font-weight: 700;
    text-decoration: none;
    padding: 8px;
    size: 18px;
    cursor: pointer;
}
.content-2 .table .btn :hover :active{
    color: red;
}
/* Additional Styling */
.withdraw button{
    background-color: #0199fe;
    border: 1px solid #0199fe;
    color: white;
    margin-left: 23%;
    width: 15vw;
    height: 30vh;
    margin-top: 2%;
    border-radius: 20px;
    cursor: pointer;
}
.send-back button{
    background-color: #0199fe;
    border: 1px solid #0199fe;
    color: white;
    margin-left: 43%;
    width: 15vw;
    height: 30vh;
    margin-top: 2%;
    border-radius: 20px;
    cursor: pointer;
}
.display-commision{
    display: flex;
   margin-left: 4%;
   width: 80vw;
}
.display-commision .commision-box{
    width: 22vw;
    background-color:rgb(110, 196, 246) ;
    height: 30vh;
    margin-left: 20%;
   
    padding:3% ;
    border-radius: 20px;
}
.display-commision input{
    width: 15vw;
    height: 6vh;
    padding: 2%;
    margin-top: 1%;
}
.display-commision p{
    margin-top: 2%;
}
.title h4{
    margin-left: 20%;
    margin-bottom: 0;
    font-weight: bolder;
    color: #0199fe;
    font-size: 30px;
}
.title hr{
    border:1px solid #0199fe;
    margin-top: 0;
    width: 80%;
    margin-left: 20%;
}
.title a{
    margin-left: 17%;
    margin-bottom: 10%;
    margin-top: 1%;
    padding: 3%;
    color: #0199fe;  
}
table button{
    height: 6vh;
    width: 10vw;
    border: 1px solid #0199fe;
    background-color: #0199fe;
    color: white;
}
.data-options a{
    /* color: #0199fe; */
    text-decoration: none;
}
.data-options button{
    height: 6vh;
    width: 14vw;
    border: 1px solid #0199fe;
    background-color: #0199fe;
    color: white;
}
#delete{
    background-color: red;
    border: 1px solid red;
}
.settings{
    margin-left: 20%;
}
.profile-details{
    margin-left: 20%;
}
.profile-details input{
    width: 20vw;
    border: 1px solid#0199fe;
    margin-top: 1.5%;
    height: 6vh;
    padding: 1%;
}
.profile-details button{
    height: 8vh;
    margin-top: 2%;
    margin-left: 3%;
    background-color: #0199fe;
    border: 1px solid#0199fe;
    width: 15vw;
    color: white;
}



@media screen and (max-width: 768px) {
    .data-options{
        display: block;
    }
    .data-options button{
        height: 10vh;
        width: 30vw;
        flex-direction: column;
        margin-top: 3%;
    }
   #delete{
    height: 8vh;
    width: 25vw;
   }
   .agent-display{
    margin-left: 4%;
    display: flex;
    color: #0199fe;
}
.agent-display input{
    height: 7vh;
    padding: 1%;
    border: 1px solid #0199fe;
    color: #0199fe;
}
.profile-details{
    border: 1px solid #0199fe;
    height: 60vh;
    margin-left: 3%;
    width: 90vw;
    margin-top: 3%;
    box-shadow: 2px 0px 1px 2px#0199fe;
    padding: 4%;
}
.profile-details input{
    margin-left: 11%;
    margin-top: 2%;
    width: 60vw;
    height: 6.5vh;
    padding: 1%;
    border:1px solid #0199fe;
    color: #0199fe;
    font-weight: 300;

}
.profile-details button{
    border:3px solid #0199fe;
    background-color: #0199fe;
    height: 8vh;
    color: white;
    margin-top: 4%;
    margin-left: 30%;
    padding: 1%;
}
 
}
/* Responsiveness code */
 

.menu-toggle-button {
    /* display: none;  */
    border: none; 
    background-color: #0199fe;
    margin-left: 60%;
}
.menu-toggle-button:focus{
    border: none;
    outline: 0;
    padding: 1%;
}
@media screen and (max-width: 540px) {
    .sidemenu .menu {
        display: none;
      }
      .menu{
        height: fit-content;
        position: absolute;
        background-color: #0199fe;
        padding: 1%;
        font-size: 15px;
        top: 15%;
        left: 52%;
    }
    .menu li{
        margin-top: 1%;
    }
      .sidemenu.show-menu .menu {
        display: block;
      }
      .sidemenu{
        display: flex;
        position: static;
        width: 100vw;
        height: 15vh;
    }
    .content .header-wrapper{
        padding: 10px 2rem;
        position: static;
         width: 100%;
        height: 15vh;
        display: block;
         /* flex-direction: column; */
    }
   
    .withdraw button{
        margin-left: 23%;
        width: 35vw;
        height: 30vh;
        margin-top: 2%;
    }
    .send-back button{
        margin-left: 43%;
        width: 35vw;
        height: 30vh;
        margin-top: 2%;
        border-radius: 20px;
        cursor: pointer;
    }
    
    
    .table-hide{
        display: none;
    }
    .table table{
        width: 71%;
        margin-left: 1%;
        margin-top: 3%;
    }
    .title h4{
        margin-left: 1%;
        margin-bottom: 0;
        font-size: 30px;
    }
    .title hr{
        width: 100%;
        margin-left: 1%;
    }
    .title a{
        margin-left: 0.5%;
        margin-bottom: 10%;
        margin-top: 1%;
        padding: 3%;
        color: #0199fe;  
    }
   .main-buttons button::after{
    content: "";
    /* flex-direction: column; */
   }
}